*{
    font-family:"Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    color: inherit;
}

body{
    background-color: black;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    /* background-image: linear-gradient(145deg, #93AFD7 0%, #C4D2E6 100%); */
}

header, #personal{
    /* background-color: black; */
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 5%;
    /* filter: drop-shadow(10px); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

header .logo{
    font-size: x-large;
    color: blue;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.5s ease;
}

header .logo:hover{
    transform: scale(1.1);
}

header nav a{
    display: none;
    font-size: large;
    margin-left: 15px;
    font-weight: bold;
    transition: 0.2s ease;
    border-bottom: 4px solid transparent;
}

header nav a:hover, header nav a.active{
    color: blue;
    border-bottom: 4px solid blue;
}

section{
    min-height: 100vh;
    background-color: white;
    padding: 20px 5%;
}

section#personal{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: black;
}

section#personal .description h1 span, 
section#personal .description h2 span#typing{
    color: blue;
    font-size: larger;
}

section#personal .description p{
    font-size: 1em;
    font-weight: bold;
    text-align: justify;
}

section#personal .description h2 span#typing::after{
    content: "";
    animation: cursor 1s infinite;
}

@keyframes cursor{
    to{
        border-left: 0.1em solid blue;
    }
}

section#personal .image img{
    position: relative;
    width: 250px;
    border-radius: 25%;
    /* box-shadow: 0 0 25px blue; */
    transition: 0.3s linear(0 1);
}

section#personal .description #links{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 20px;
}

section#personal .description #links a{
    padding: 10px;
    border: 5px solid white;
    border-radius: 10px;
    display: inline-block;
    transition: 1s;
}

section#personal .description #links a:hover,
section#personal .description #links a:active{
    border: 5px solid blue;
    box-shadow: 0 0 10px 5px rgba(0, 0, 255, 0.5);
}

section#personal .description #links a img{
    height: auto;
    display: block;
    margin: auto;
}

main{
    width: 100%;
    padding: 2% 5%;
    /* background-image: linear-gradient(145deg, #93AFD7 0%, #C4D2E6 100%); */
    background-image: radial-gradient(darkblue 0%, black 80%);
    color: white;
    /* -webkit-text-stroke: 1px black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main #kafelki{
    width: 90%;
    background-color: transparent;
    display: flex;
    /* flex-direction: row; */
    gap: 3%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
@media(max-width: 700px){
    main #kafelki{
        justify-content: center;
        gap: 20px;
    }
}


main #kafelki a{
    height: 30vh;
    width: 30%;
    min-height: 150px;
    min-width: 200px;
}
@media(max-width: 700px){
    main #kafelki a{
        min-width: unset;
        width: 100%;
        /* height: fit-content; */
    }
}

main #kafelki a .kafelek{
    margin: 20px auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border: 3px solid black;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: 1s;
    word-wrap: break-word;
}
main #kafelki a .kafelek:hover{
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.5);
    border: 3px solid white;
    background-color: rgba(211, 211, 211, 0.5);
    color: darkblue;
}

main #kafelki a .kafelek .ikonka{
    width: 100%;
    min-height: 80%;
    text-align: center;
}
main #kafelki a .kafelek .ikonka img{
    /* background-color: rgb(255, 255, 255); */
    margin: auto;
    max-width: 100%;
    min-height: 80px;
    height: 15vh;
}
main #kafelki a .kafelek .nazwa{
    display: inline-block;
    /* min-height: 20%; */
    /* margin: auto; */
    text-align: center;
    /* font-size: large; */
    font-weight: bold;
}

footer{
    padding: 2%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: xx-small;
}

@media(max-width: 600px){
    body{
        font-size: smaller;
    }

    section#personal .image{
        margin-top: auto;
        /* align-items: end; */
    }

    section#personal .image img{
        width: 150px;
    }

    header nav a{
        display: none;
    }
    section#personal{
        /* padding-top: 40px; */
    }
    section#personal{
        display: column;
        gap: 0;
    }

    /* header{
        margin-top: 0;
        width: 100%;
        padding: 10px 5%;
        display: block;
        text-align: center;
    } */

    /* header nav a{
        line-height: 30px;
    }

    section#personal{
        padding-top: 120px;
    } */
}

@media(orientation: landscape){
    section#personal .description h1{
        font-size: 4vw;
    }
    section#personal .description h2{
        font-size: 3vw;
        margin-bottom: 1vw;
    }
    section#personal .description #links a img{
        height: 4vw;
    }
}

@media(orientation: portrait){
    section#personal{
        flex-wrap: wrap;
    }
    section#personal .description h1{
        font-size: 4vh;
    }
    section#personal .description h2{
        font-size: 3vh;
        margin-bottom: 2vh;
    }
    section#personal .description #links a img{
        height: 4vh;
    }
}