*{
    font-family:"Open Sans", sans-serif ;
    font-size: 25px;
}

body{
    background-color: lightgray;
}

#budowa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#budowa h4, h2{
    text-align: center;
    text-decoration: none;
    color: black;
}

#budowa a{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    text-decoration: none;
    color: black;
}