*{
    font-family:"Open Sans", sans-serif;
}

body{
    background-size: auto;
    background-color: #D9E1EC;
    background-image: linear-gradient(#D9E1EC 0%, #C4D2E6 100%);
}

#budowa{
    min-width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#budowa h4, h2{
    text-align: center;
    text-decoration: none;
    color: black;
}

#budowa a{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    text-decoration: none;
    color: black;
}